In [10]:
#defining strings in python
# all of them are equivalent
my_string='Hello'
print(my_string)

Hello

In [7]:
my_string="hello"
print(my_string)

hello

In [8]:
my_string='''Hello'''
print(my_string)

Hello

In [9]:
my_string="""Hello,welcome to the world of python"""
print(my_string)

Hello,welcome to the world of python

In [11]:
str='digipodium'
print('str =',str)

print('str [0]=',str[0])

print('str [1]=',str[1])
print('str [2]=',str[2])
print('str [-1]=',str[-1])
print('str [-2]=',str[-2])

str = digipodium
str [0]= d
str [1]= i
str [2]= g
str [-1]= m
str [-2]= u

In [18]:
name ='vijay deenanath chauhan'
name[:5]
name[16:]

'chauhan'

In [27]:
username="@edwardüòäüòäüòä"
username[1:-3]
username[1:7]

'edward'

In [29]:
english ='abcdefghijklmnopqrstuvwxyz'
print(english[:6])
print(english[::2])
print(english[::-1])
print(english[1::2])

abcdef
acegikmoqsuwy
zyxwvutsrqponmlkjihgfedcba
bdfhjlnprtvxz

In [35]:
msg='the quick brown fox jump over the lazy dog'
msg[:10]
msg[-10:]

'e lazy dog'

In [36]:
x=chr(65)
print(x)

A

In [37]:
x=chr(2365)
print(x)

‡§Ω

In [38]:
x=chr(12365)
print(x)

„Åç

In [40]:
y=ord('A')
print(y)

65

In [41]:
y=ord('{')
print(y)

123

In [39]:
y=ord('a')
print(y)

97

In [42]:
a='apple'
b='juice'
ab=a+b
print(ab)

applejuice

In [43]:
w1='this'
w2='is'
w3='amazing'
x=w1+w2+w3
print(x)

thisisamazing

In [46]:
msg=w1 + ' ' + w2 + ' '+ w3
print(msg)

this is amazing

In [47]:
word='Alexander was an idiot'
print(word*10)

Alexander was an idiotAlexander was an idiotAlexander was an idiotAlexander was an idiotAlexander was an idiotAlexander was an idiotAlexander was an idiotAlexander was an idiotAlexander was an idiotAlexander was an idiot

In [49]:
print('-' *10)

----------

#string methods
#searching and replacing
#1. find and replace

In [2]:
msg='the quick brown fox jumps over the lazy dog'
print(msg.find('fox'))
print(msg.find('o'))
print(msg.find('ace')) #-1 means not found

16
12
-1

In [7]:
msg='the quick brown fox jumps over the lazy dog'
print(msg.replace('fox','Aishwarya Rai'))
print(msg.replace('dog','Salman'))
print(msg.replace('ace','Heart')) #-1 means not found
print(msg.replace('fox','Aishwarya rai').replace('dog','salman').replace('quick','ass').replace('brown','kicker')) #-1 means not found

the quick brown Aishwarya Rai jumps over the lazy dog
the quick brown fox jumps over the lazy Salman
the quick brown fox jumps over the lazy dog
the ass kicker Aishwarya rai jumps over the lazy salman

In [ ]:
#Manipulatiuon of  string into list and vice versa
#1.split
#2.join
#3.strip

In [9]:
print(msg.split())
msg2="life before death,strength before weakness,journey before destination"
print(msg2.split(','))
poem='''Johny johny yes papa
eating sugar no papa
telling lies no papa 
open your mouth haaah thuuu
'''
print(poem.splitlines())

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['life before death', 'strength before weakness', 'journey before destination']
['Johny johny yes papa', 'eating sugar no papa', 'telling lies no papa ', 'open your mouth haaah thuuu']

In [11]:
x=['why','did','newton','sat','under','that','apple','tree']
print(" ".join(x))
print("# ".join(x))
print(",".join(x))
print("‚ù§ ".join(x))

why did newton sat under that apple tree
why# did# newton# sat# under# that# apple# tree
why,did,newton,sat,under,that,apple,tree
why‚ù§ did‚ù§ newton‚ù§ sat‚ù§ under‚ù§ that‚ù§ apple‚ù§ tree

In [12]:
a="apples"
b=' bananas'
c="carrots"
d='''
bangdu
'''
print(a.strip())
print(b.strip())
print(c.strip())
print(d.strip())

apples
bananas
carrots
bangdu

In [ ]:
#counting
#1.count

In [13]:
sentence='''Once upon a time, in bharat,there lived chacha chaudhary,who ha an airport named after him'''
print(sentence.count('airport'))
print(sentence.count('a'))
print(sentence.count('in'))
print(sentence.count('netaji'))

1
12
1
0

In [ ]:
#formatting
#1.upper
#1.lower
#1.capitalize
#1.title

In [16]:
print(sentence.upper())
print(sentence.lower())
print(sentence.capitalize())
print(sentence.title())

ONCE UPON A TIME, IN BHARAT,THERE LIVED CHACHA CHAUDHARY,WHO HA AN AIRPORT NAMED AFTER HIM
once upon a time, in bharat,there lived chacha chaudhary,who ha an airport named after him
Once upon a time, in bharat,there lived chacha chaudhary,who ha an airport named after him
Once Upon A Time, In Bharat,There Lived Chacha Chaudhary,Who Ha An Airport Named After Him